@font-face {
    font-family: "SF-Pro";
    src: url("fonts/SF-Pro-Display-Regular.ttf") format("truetype");
}

body {
    font-family: "SF-Pro";
}

header {
    margin-left: 15px;
    border-bottom: 1px solid grey;
    margin-bottom: 30px;
}

a {
    font-size: 0.8em;
}

.nav {
    width: 60vw;
    margin: 0 auto;
}

.nav-button {
    padding: 12px;
    background-color: rgb(0, 157, 255);
    color: white;
    border: none;
    border-radius: 25px;
    box-shadow: 2px 2px 15px rgb(145, 145, 145);
    margin-right: 7px;
    text-decoration: none;
    font-weight: bold;
    font-size: 0.9em;
    padding-left: 17px;
    padding-right: 17px;
}

.nav-button:hover {
    box-shadow: 2px 2px 15px black;
}

.post {
    list-style-type: none;
    width: 60vw;
    margin: 0 auto;
    margin-top: 20px;
    box-shadow: 3px 3px 12px grey;
    padding: 15px;
    border-radius: 15px;
    position: relative;

}

.post-title {
    font-size: 1.5em;
    margin: 0;
    border-bottom: 1px solid rgb(197, 197, 197);
}

.post-content {
    padding-bottom: 15px;
}

.edit-link {
    margin-right: 5px;
}

.post-timestamp {
    position: absolute;
    bottom: 10px;
    right: 13px;
    margin: 0;
    font-size: 0.9em;
    color: rgb(73, 73, 73);
}

label {
    font-size: 1.5em;
}
 
#title, #content {
    border: none;
    box-shadow: 2px 2px 15px grey;
    font-size: 1em;
    padding: 7px;
    border-radius: 15px;
    display: block;
    margin-top: 15px;
    margin-bottom: 15px;
}

#content {
    min-width: 58vw;
    max-width: 58vw;
    field-sizing: content;
    resize: none;
}

.content-label {
    padding-top: 15px;
}