@font-face {
    font-family: "SF-Pro";
    src: url("fonts/SF-Pro-Display-Regular.ttf") format("truetype");
}

* {
    margin: 0;
    padding: 0;
}

html {
    margin-bottom: 0;
    padding-bottom: 0;
}

body {
    font-family: "SF-Pro";
    background-color: #1f1f1f;
    color: white;
}

header {
    padding: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #0F2027;
    background: -webkit-linear-gradient(to right, #2C5364, #203A43, #0F2027);
    background: linear-gradient(to right, #2C5364, #203A43, #0F2027);
    color: #f2eadd;
    border-radius: 0 0 16px 16px;
}

.header-nav a,
.create-playlist,
#filter-button,
.delete-button {
    display: inline-block;
    background-color:#ecd1a5;
    padding: 8px;
    border-radius: 16px;
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 1.05em;
    margin-right: 8px;
    transition: transform 0.07s ease-in-out, background-color 0.07s ease-in-out;
}

.header-nav a:hover, 
.create-playlist:hover,
#filter-button:hover,
.delete-button:hover {
    transform: scale(1.02);
    background-color:#ecd6b1;
    cursor: pointer;
}

main {
    margin: 24px;
    margin-bottom: 0;
    height: 88vh;
}

main h2 {
    font-size: 1.8em;
}

.create-playlist {
    margin-top: 10px;
}

.create-playlist, #filter-button,
.delete-button {
    font-size: 0.95em;
    padding: 6px 8px 6px 8px;
    border: none;
}

main form, ul {
    margin: 18px;
}

form select {
    appearance: none;
    color: white;
    background-color: #0f0f0f;
    border: none;
    border-radius: 16px;
    padding: 8px;
    font-size: 1.07em;
    text-align: center;
}

ul {
    padding: 32px;
    margin-bottom: 0;
    background-color: #0f0f0f;
    min-height: 70%;
    border-radius: 16px;
    list-style: none;
}

.playlist, 
.user {
    margin-bottom: 15px;
}

.playlist-title a,
.username a{
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 1.3em;
}

.playlist-title,
.username {
    margin-bottom: 2px;
}

.playlist-title a:hover,
.username:hover {
    text-decoration: underline;
}

.playlist-content,
.playlist-timestamp,
.user-email,
.user-role,
.user-date-joined {
    font-size: 1em;
    color: rgb(175, 175, 175);
}