header {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #0f2027;
  background: -webkit-linear-gradient(to right, #2c5364, #203a43, #1e3d4b);
  background: linear-gradient(to right, #2c5364, #203a43, #1e3d4b);
  color: #f2eadd;
  border-radius: 0 0 16px 16px;
}
